# Ignoramos arquivos sem extensão (executáveis em unix)
*
!*.*
!*/

# Ignoramos PDFs prontos e arquivos auxiliares de LaTeX
*.pdf
*.aux
*.out
*.log
# Não ignoramos arquivos de enunciado
!*-enunciado.pdf
# Não ignoramos arquivos importantes para a resolução
!prova1-figura-estrutura.pdf
